<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2><%= @user.name %>さんとのチャット</h2>

            <table class="message table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
                  <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
                </tr>
              </thead>

              <!--チャット一覧部分-->
              <div class="chat-area">
              <%= render 'chat', chats: @chats %>
              </div>

            </table>

              <!--チャットフォーム-->
              <div class="new-chat">
                <%= render 'chat_form', chat: @chat %>
              </div>
                <%= paginate @chats %>
        </div>
    </div>
</div>